@model IEnumerable<CatalogItemViewModel>
<partial name="_Notification" />

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="text-muted">Genders</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="text-end">
            <a asp-controller="ManageGender" asp-action="Create" class="btn btn-outline-secondary btn-sm shadow-none" style="width:80px">
                <span class="bi bi-pen">Add</span>
            </a>
        </div>
    </div>
</div>


@if (Model.Count() == 0)
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>
                    Name
                </th>
            </tr>
        </thead>
    </table>
}
else
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th width="80px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td align="center">
                        <div class="btn-toolbar justify-content-between" role="toolbar">
                            <a asp-controller="ManageGender" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-primary btn-sm shadow-none">
                                <i class="bi bi-wrench"></i>
                            </a>

                            <form method="post" asp-controller="ManageGender" asp-action="Delete" asp-route-id="@obj.Id">
                                <button type="submit" class="btn btn-outline-danger btn-sm shadow-none">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <script src="~/js/brand-table.js"></script>
}
