@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container col-8 ">
    <div class="modal-content rounded-4 shadow">
        <div class="p-5 pb-4 border-bottom-0 text-center">
            <h1 class="fw-bold mb-0 fs-2">@ViewData["Title"]</h1>
        </div>
        <div class="modal-body p-5 pt-0">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="needs-validation" novalidate>
                <div asp-validation-summary="All" class="text-danger"></div>

                <h2 class="fs-6 fw-bold mt-4 mb-3">Required fields</h2>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" required />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="name@example.com" required />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="name@example.com" required />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <h2 class="fs-6 fw-bold mt-4 mb-3">Optional fields</h2>

                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control"  placeholder="Alexander" />
                    <label asp-for="Input.FirstName"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    <div class="valid-feedback">
                        Optional
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" placeholder="Medved" />
                    <label asp-for="Input.LastName"></label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    <div class="valid-feedback">
                        Optional
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.State" class="form-control"  placeholder="Ukraine" />
                    <label asp-for="Input.State"></label>
                    <span asp-validation-for="Input.State" class="text-danger"></span>
                    <div class="valid-feedback">
                        Optional
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.City" class="form-control" placeholder="Kyiv" />
                    <label asp-for="Input.City"></label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                    <div class="valid-feedback">
                        Optional
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.StreetAddress" class="form-control" placeholder="123 Main Street, Apartment 666" />
                    <label asp-for="Input.StreetAddress"></label>
                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                    <div class="valid-feedback">
                        Optional
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PostalCode" class="form-control" aria-required="true" placeholder="220050" />
                    <label asp-for="Input.PostalCode"></label>
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                    <div class="valid-feedback">
                        Optional
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="802911122233" />
                    <label asp-for="Input.PhoneNumber"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    <div class="valid-feedback">
                        Optional
                    </div>
                </div>

                <div class="justify-content-sm-center col-lg-4 mx-auto">
                    <button id="registerSubmit" type="submit" class="w-100 mt-4 btn btn-lg btn-primary">Registration</button>
                </div>            
            </form>

            <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">Use another service to register</p>
            </div>

            <div class="text-center">
                <section>
                    @{
                        if ((Model.ExternalLogins.Any()))
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                @Html.GetExternalAuthProviders(Model.ExternalLogins)
                            </form>
                        }
                        else
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured.
                                </p>
                            </div>

                        }
                    }
                </section>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
