@{
    ViewData["Title"] = "Home Page";
}
@model List<CatalogItemViewModel>

<form method="get" asp-area="Shop" asp-controller="Home" asp-action="Index" />

<div class="container-ignore shadow">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/carousel/maison.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/carousel/latte.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/carousel/amouage.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

@if (Model.Any())
{
    <div class="py-4">
        <div class="fs-3 fw-normal text-muted">
            Sale
        </div>
        <hr class="my-3">
        <partial name="~/Views/Shared/Components/_ProductCards.cshtml" model="Model">
    </div>   
}