@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}

<h2 class="text-muted">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <partial name="~/Views/Shared/Components/_StatusMessage.cshtml" for="Notification" />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group py-1">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group py-1">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group py-1">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="col-12 py-4">
                <button type="submit" class="btn btn-primary">Update password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}