html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.scale {
    transition: 1s;
}

.scale:hover {
    transform: scale(1.2);
}

.scale-overflow {
    display: inline-block;
    overflow: hidden;
}

.scale-overflow img {
    transition: 1s;
    display: block;
}

.scale-overflow img:hover {
    transform: scale(1.2);
}

.catside a {
    color: #868686;
}


.aim .target {
    background: #FDFEFE;
    transition: 0.3s;
}

.aim .target:hover {
    background: #EAECEE;
    transform: scale(0.97);
}

.unstyled-button {
    border: none;
    padding: 0;
    background: none;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%
    }
}


.google-signin::before {
    content: "";
    display: inline-block;
    background-image: url('../images/svg-icons/signin-google.svg');
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

.facebook-signin::before {
    content: "";
    display: inline-block;
    background-image: url('../images/svg-icons/signin-facebook.svg');
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

.twitter-signin::before {
    content: "";
    display: inline-block;
    background-image: url('../images/svg-icons/signin-twitter.svg');
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

.microsoft-signin::before {
    content: "";
    display: inline-block;
    background-image: url('../images/svg-icons/signin-microsoft.svg');
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

div.container-ignore {
    background: #ccc;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw
}