@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container col-8">
    <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">@ViewData["Title"]</h1>
        </div>
        <div class="modal-body p-5 pt-0">
            <form id="account" method="post" class="needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" required />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" required />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div class="p-0 pt-4">
                    <p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <div class="py-5">
        <div class="card">
            <div class="card-body">
                <p>
                    Note that for demo purposes you don't need to register and can login with these credentials:
                </p>
                <p>
                    Admin: <b>admin@default.com</b><br />
                    Employee: <b>employee@default.com</b><br />
                    Customer: <b>customer@default.com</b><br />
                </p>
                <p>
                    Password: <b>12qwaszx!Q</b>
                </p>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
