@model CatalogItemViewModel

<form method="post" asp-controller="ManageBrand" asp-action="Create" class="row g-3 needs-validation" novalidate>

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2 class="text-muted">Create Brand</h2>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="text-end">

				<button type="submit" class="btn btn-outline-secondary btn-sm shadow-none" style="width:80px">
					<span class="bi bi-check-lg">Create</span>
				</button>

				<a asp-controller="ManageBrand" asp-action="Index" class="btn btn-outline-secondary btn-sm shadow-none" style="width:80px">
					<span class="bi bi-reply"> Back</span>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="mb-3">
			<label asp-for="@Model.Name"></label>
			<input asp-for="@Model.Name" class="form-control" required>
			<span asp-validation-for="@Model.Name" class="text-danger"></span>
			<div class="valid-feedback">
				Valid!
			</div>
		</div>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}
