@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set password";
}

<h2 class="text-muted">@ViewData["Title"]</h2>
<hr />
<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

<div class="row">
    <div class="col-md-6">
        <partial name="~/Views/Shared/Components/_StatusMessage.cshtml" for="StatusMessage" />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group py-1">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group py-1">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="col-12 py-4">
                <button type="submit" class="btn btn-primary">Set password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

