@if (Context.User.Identity.IsAuthenticated)
{
    <a href="#" class="btn btn-link text-white position-relative shadow-none scale text-decoration-none">
        <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
        <span class="position-absolute top-0 start-50 translate-middle">
            <small class="text-white">Autorized</small>
        </span>
    </a>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-link text-white position-relative shadow-none scale text-decoration-none">
        <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
        <span class="position-absolute top-0 start-50 translate-middle">
            <small class="text-white">Guest</small>
        </span>
    </a>
}

